body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h2 {
    text-align: center;
    color: #333;
}

#emailForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#emailForm input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#emailExists {
    display: block;
    margin-bottom: 10px;
}

#emailExists.error {
    color: red;
}

#emailForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#emailForm input[type="submit"]:hover {
    background-color: #45a049;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: hsl(129, 18%, 70%);
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #888;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color:white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Additional Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 50px;
}

input[type="email"] {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#errorExists {
    color: red;
}

.success-message {
    margin-top: 20px;
    color: #4CAF50;
    font-weight: bold;
    font-size: 16px;
}

